# ==========================================================
# Upstage API
# ==========================================================

UPSTAGE_API_KEY=up_FTGK3JPQFwLMan7H0ziC3cZH3IQdO


# ==========================================================
# Resume Agent
# ==========================================================

RESUME_AGENT_ID=agt_EaViML8nBZmFz4TfJ4qP9Y
RESUME_CONFIG_ID=1


# ==========================================================
# JD Agent
# ==========================================================

JD_AGENT_ID=agt_Swpp6jPAbfJNzJfve2wK5W
JD_CONFIG_ID=1


# ==========================================================
# Matching Agent
# ==========================================================

MATCHING_AGENT_ID=agt_SokWS6Y9zoYgCMedYMFRhs
MATCHING_CONFIG_ID=1
