# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/


# ==========================================================
# Environment Variables
# ==========================================================

.env


# ==========================================================
# Generated Output
# ==========================================================

output/
result/


# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/


# ==========================================================
# macOS
# ==========================================================

.DS_Store


# ==========================================================
# Logs
# ==========================================================

*.log